<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">

  <mat-card fxFlex="30">
    <mat-card-header>
      <div mat-card-avatar><mat-icon class="card-avatar">phone</mat-icon></div>
      <mat-card-title>Clients</mat-card-title>
      <mat-card-subtitle>Clients connected to cellaserv</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
	<mat-list-item *ngFor="let client of broker.clients">
	  <mat-icon mat-list-icon>chevron_right</mat-icon>
	  <h3 mat-line>Id: {{client.id}}</h3>
	  <p mat-line>Name: {{client.name}}</p>
	</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="30">
    <mat-card-header>
      <div mat-card-avatar><mat-icon class="card-avatar">storefront</mat-icon></div>
      <mat-card-title>Services</mat-card-title>
      <mat-card-subtitle>Services currently registered</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
	<mat-list-item *ngFor="let service of broker.services">
	  <mat-icon mat-list-icon>chevron_right</mat-icon>
	  <h3 mat-line>{{service.name}}[{{service.identification}}]</h3>
	  <p mat-line>Client: {{service.client | clientName}}</p>
	  <p *ngIf="service.status != null" mat-line>Status: {{service.status}}</p>
	  <button mat-icon-button>
	    <mat-icon (click)="serviceHelp(service)">menu_book</mat-icon>
	  </button>
	</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="30">
    <mat-card-header>
      <div mat-card-avatar><mat-icon class="card-avatar">notifications</mat-icon></div>
      <mat-card-title>Pubsub</mat-card-title>
      <mat-card-subtitle>Publish topics and their subscribers</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
	<mat-list-item *ngFor="let event of broker.events">
	  <mat-icon mat-list-icon>chevron_right</mat-icon>
	  <h3 mat-line>{{event.event}}</h3>
	  <p mat-line>Subscribers: {{ event.subscribers.length }} </p>
	  <p mat-line *ngFor="let client of event.subscribers">
	    {{client | clientName}}
	  </p>
	</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

</div>
