<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row>
    <a mat-button routerLink="/overview">OVERVIEW</a>
    <a mat-button routerLink="/logs">LOGS</a>
    <a *ngFor="let srvc of SERVICES"
      mat-button routerLink="/{{srvc}}"
      [disabled]="!broker.isServicePresent(srvc)"
      [matTooltipDisabled]="broker.isServicePresent(srvc)"
      matTooltip="Service {{srvc}} is not registered">{{srvc | uppercase}}</a>

    <div style="flex: 1 1 auto;"></div>
    <button mat-raised-button color="warn" *ngIf="cs.errorMsg != ''" matTooltip="{{cs.errorMsg}} -- See developper console">ERROR</button>
    <a mat-button href="http://{{cs.cellaservAddr}}">{{cs.cellaservAddr}}</a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="basic-container">
  <router-outlet></router-outlet>
</div>
